<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if value == 'НАРУТО'  %}
        <span>ЙО СОБАКИ</span>
    {% else %}
        <span>САСКЕ</span>
    {% endif %}
    <br><br><br><br><br>
    <span>{{ number }}</span>

<body>
 <table border="1">
   <caption>Выбор алгоритма</caption>
   <tr>
    <th>P-медиан</th>
    <th>Простейшая задача размещения</th>
   </tr>
   <tr><td>Описание задачи о p-медиане</td><td>Описание задачи простейшего размещения</td></tr>
   <tr><td><button>Сконфигурировать задачу</button></td><td><button>Сконфигурировать задачу</button></td></tr>
</tr>
  </table>
</body>

</body>
</html>